.methods {
  margin: 0 auto 100px;
  width: 100%;
}

.methods__videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin: 40px auto 0;
}

.methods__video-container {
  border: 1px solid gainsboro;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0;
  background-color: black;
}

.methods__video-title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto 0;
  color: white;
  border-bottom: 1px solid white;
  width: 90%;
  text-align: center;
  padding-bottom: 5px;
}

.methods__video {
  width: 500px;
  height: 400px;
  margin: 0;
}