.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

.about__photo {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 0 0 20px;
}

.about__text-container {
  width: 1400px;
  z-index: 3;
  margin: 0 20px 0;
}

.about__text {
  font-size: 18px;
  margin: 0;
  text-indent: 30px;
}

.about__back-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 180px;
  height: 180px;
  z-index: 1;
}